body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.auth-form,
nav,
header,
footer,
div {
  margin: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  display: inline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}
